/* google fonts */
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
/* Global Styles */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration:none;
    text-transform: uppercase;
    /* outline: 1px solid red; */
  }
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }
  body {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    /* color: #333; */
    /* background: #000; */
  }
  p {
    line-height: 1.6;
    font-size: 16px;
  }
  .section {
    min-height: 800px; 
  }
  .container {
    width: 1170px;
    max-width: 90%;
    margin: 0 auto;
  }
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .content-wrapper {
    width: 80%;
    margin: auto;
    /* height: 100vh; */
    position: relative;
  }

  /* End Global Styles */
  .logo-title{
    font-size: 25px;
  }
  .navbar-default .navbar-brand{
    color:#fff;
  }
  .navbar-default .navbar-brand:hover{
    color:#fff;
  }
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color:#fff;
  }
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a{
    color:#fff;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background-color: #fff;
  }
/* #638f34 */
  /* 
  -----------------------home /index
  */
.index-img{
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/alanchen/2G0A9537.jpg);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;  
}
.fadeInUp{
  width:100%;
  /* height: 100vh; */
}
.nav_bar {
    overflow: hidden;
    background-color: rgb(154, 202, 90);
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    text-align: center;
}
.navbar-header{
    text-align: center;
    float: left;
} 
.collapse{
    float:right;
}
.navbar-top {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    background-color: #7cb342; 
}
/* #7cb342 rgb(218, 132, 132)*/
.contact-f{
  background-color: #78ae32;
}



  /* 
  -----------------------about 
  */
  /* Start Nav Styles */
    .navbar-dot {
      position: fixed;
      z-index: 999;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
    }
    .navbar-dot .nav-menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .navbar-dot .nav-menu li {
      position: relative;
      min-width: 200px;
      text-align: right;
    }
    .navbar-dot .nav-menu li .dot {
      display: block;
      color: #fff;
      padding: 25px 0;
    }
    .navbar-dot .nav-menu li .dot::before,
    .navbar-dot .nav-menu li .dot::after {
      display: block;
      position: absolute;
      content: '';
      border-radius: 50%;  
      top: 50%;  
      transition: all .3s ease;
    }
    .navbar-dot .nav-menu li .dot::before {
      width: 5px;
      height: 5px;
      right: 0;
      border: 2px solid #181818;
      transform: translateY(-50%);
    }
    .navbar-dot .nav-menu li .dot::after {
      width: 15px;
      height: 15px;
      border: 2px solid #f44336;
      right: -5px;
      transform: translateY(-50%) scale(0);
    }
    .navbar-dot .nav-menu li .dot.actxive::before,
    .navbar-dot .nav-menu li:hover .dot::before {
      background: #f44336;
      border-color: #f44336;
    }
    .navbar-dot .nav-menu li .dot.active::after,
    .navbar-dot .nav-menu li:hover .dot::after {
      transform: translateY(-50%) scale(1);  
    }
    /* End Nav Styles */

    /* Start Home Styles */
    #home button {
      border: 2px solid #ffc107;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      padding: 12px 25px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      transition: all .3s ease;
      margin-top: 20px;
    }
    #home button:hover {
      background-color: #ffc107;
      color: #fff;
    }
    /* End Home Styles */

    /* Start About Styles */
    #about p {
      width: 60%;
      margin: 10px auto;
    }
    #about img {
      margin-top: 40px;
    }
    /* End About Styles */

    /* Start Services Styles */
    #services {
      background-color: #eee;
    }
    #services .services {
      margin: 40px auto;
    }
    #services .services .service {
      width: 50%;
      padding: 1%;
    }

    #services .text-right {
      float: right;
    }
    #services .text-left {
      float: left;
    }
    /* End Services Styles */

    /* Start Testimonials Styles */
    /* End Testimonials Styles */

    /* Start Contact Styles */
    .content_bgc{
      /* min-height: 600px; */
      min-height: 100px;
      color:#fff;
    }
    #contact p {
      color: #eee
    }
    #contact .mail {
      font-size: 30px;
      margin-top: 40px;
    }
    /* End Contact Styles */

    /* Start Footer Styles */
    footer {
      /* background-color: #000; */
      padding: 40px 0;
    }
    footer p {
      margin: 0;
      color: #fff;
      font-size: 20px;
      letter-spacing: .5px;
      font-weight: 700;
    }
    /* End Footer Styles */

    /*
    *  I used Normalize.css to reset elements.
    *  I used Autoprifixer to make sure that I'm using the necessary vendor prefixes.
    **/

    /*  */

    h1{
      margin: 0;
    }
    .preface-about{
      padding-top: 10%;
    }
    .preface-news{
      /* padding-top: 8%; */
    }
    #about p{
      width: 90%;
    }
    .control-all{
      position: relative;
      top: 50%;
    }
    .carousel-control{
      opacity: .0;
    }
    .carousel-control .left{
      left: -40px;
    }
    .carousel-control .right{
      left: 40px;
    }
    .stars {
      color: #f1c40f;
    }
    .news-img{
      top: 40px;
    }
    .carousel-indicators{
      bottom: -35px;
    }
    .carousel-indicators li{
      background: #7cb342;
      border:2px solid #7cb342;
    }

    /* 休閒農場介紹 */
    .int-center-vertical{
      float: none;
      position: relative;
      top: 50%;
      transform: translateY(70%);
    } 

    /*
    ----------------------- course/Process 
    */

    /* icon 調整 */
    .icon_circle{
        font-size: 40px;
        line-height: 70px;
        width: 75px;
        height: 75px;
        text-align: center;
        border: 5px solid #fff;
        border-radius: 50%;
        text-align: right;
    }
    .rounded-circle{
        position: relative;
        top: -4px;
        color: rgb(255, 255, 255,.9);
    }
    .course-center-vertical{
      float: none;
      position: relative;
      top: 100%;
      transform: translateY(40%);
    }



    /* 
    -----------------------products 
    */
    section.page-section{
      padding: 75px 0;
      min-height: 100vh;
    }
    /* about product both */
    section.section_page{
      padding: 180px 0;
    }
    .container {
      position: relative;
    }
    .portfolio-gallery{
      float: left;
    }
    .bg-light {
      background-color: #f8f9fa!important;
    }
    .box .txt{
        position: absolute;	
        bottom: 0px;	
        left: 0;	
        right: 0;
        height: 30%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(0,0,0,.5);
        color:#fff;
        transition: height .5s cubic-bezier(.63,1.57,.82,1.35);
        /* padding-left: 18px;	 */
        box-sizing: border-box;
    }
    .box:hover .txt{
        width: 100%;
        height: 50%;	
    }

    /* 
    -----------------------form 
    */
    .admin-panel {
      width: 100%;
      max-width:900px;
      margin: 50px auto;
      overflow: hidden;
      background-color:#fff;
      position:relative;
    }
    .slidebar {
      /* display: inline-block; */
      background-color: #fff;
    }
    .slidebar ul {
      position:relative;
      height:100%;
    }
    .slidebar a{
      color: #bbb;
      text-decoration:none;
    }
    .slidebar li{
      text-align:center;
      padding: 0px 0px;
      display: inline-block;
    }

    ul {
      padding: 0;
      margin:0;
    }
    li {
      list-style-type: none;
      margin: 0;
      text-align:center;
      color:#d7d7d7;
    }
    .slidebar i {
      text-align:center;
      color:#d7d7d7;
    }

    .slidebar ul a {
      color:#d7d7d7;
      display: inline-block;
      padding: 20px;
      border-radius:6px; 
    }
    .slidebar li:hover a, li#active{
      background-color: #78ae32;
    }
    .main {
      width: 100%;
      position: relative;
    }
    .main h2 {
      font-size: 20px;
      font-weight:600;
      padding: 0px 0px 20px 0px;
    }


    /* 
    -----------------------contact
    */
    .contact-all{
      height: 100vh;
      background-image: url("../imgs/alanchen/0U2A9444.jpg");
      background-size: cover;
      background-attachment: fixed;/*這樣視差捲動效果*/
      background-repeat: no-repeat;
      background-position: 50% 50%;
      /* background: #e9edf0; */

    }
    .send-mailBag{
      width: 50%;
      background: #e9edf0;
    }
    .container-button{
      max-width:50%;
    }
    .contact-row{
      height: 100vh;
      position: relative;
      top: 20%;
    }
    .mail{
      word-wrap: break-word;
    }

    .image-farm img{
      height: 400px; 
      width:70%;
      padding: 20px 0 0 0 ;
    }

    /* contact us button */
    .contactUs {
      font-size: 13px;
      /* background: #e9edf0; */
      color: #ffffff;
      text-align: center;
      align-items: center;
    }
    .container-contact {
      width: 100%;
      /* background-image:url("../imgs/alanchen/0U2A9444.jpg");  */
    }
    .border-animation {
      --border-width: 0.1em;
      --animation-speed: 0.5s;
      --color: #fff;
      color: var(--color);
      display: inline-block;
      font-size: 4em;
      line-height: 1em;
      transform: scale(1, 0.8);
      border: var(--border-width) solid transparent;
    }
    .border-animation:focus, .border-animation:hover {
      color: #fff;
    }
    .border-animation .border-animation__inner {
      position: relative;
      display: inline-block;
      width: 100%;
      font-family: 'Six Caps', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      cursor: pointer;
      padding: 0.2em;
      background: #7cb342;
      z-index: 1;
      border: solid var(--border-width) transparent;
    }
    .border-animation:before, .border-animation:after {
      content: '';
      position: absolute;
      background: var(--color);
    }
    .border-animation:focus:before, .border-animation:hover:before {
      animation: beforeBorders var(--animation-speed) forwards ease-in-out;
    }
    .border-animation:focus:after, .border-animation:hover:after {
      animation: afterBorders var(--animation-speed) forwards ease-in-out;
    }
    .border-animation:focus, .border-animation:hover {
      animation: borderColors var(--animation-speed) steps(1) forwards;
      outline: none;
    }
    .border-animation:focus .border-animation__inner, .border-animation:hover .border-animation__inner {
      /* 速記屬性將六種動畫屬性整合到一個屬性中.Edge，Firefox 16，Safari 9，Chrome 43，IE 10，Opera 12.1 */
      animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
      animation-delay: calc(var(--animation-speed) / 5 * 2);
    }

    @keyframes beforeBorders {
      0% {
        top: calc(var(--border-width) * -1);
        left: 50%;
        bottom: auto;
        right: auto;
        width: 0;
        height: var(--border-width);
      }
      33% {
        top: calc(var(--border-width) * -1);
        left: calc(var(--border-width) * -1);
        bottom: auto;
        right: auto;
        width: calc(var(--border-width) + 50%);
        height: var(--border-width);
      }
      66% {
        top: calc(var(--border-width) * -1);
        left: calc(var(--border-width) * -1);
        bottom: auto;
        right: auto;
        width: var(--border-width);
        height: calc((var(--border-width) * 2) + 100%);
      }
      100% {
        top: auto;
        left: calc(var(--border-width) * -1);
        bottom: calc(var(--border-width) * -1);
        right: auto;
        width: calc(var(--border-width) + 50%);
        height: calc((var(--border-width) * 2) + 100%);
      }
    }
    @keyframes afterBorders {
      0% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: 50%;
        width: 0;
        height: var(--border-width);
      }
      33% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: calc(var(--border-width) * -1);
        width: calc(var(--border-width) + 50%);
        height: var(--border-width);
      }
      66% {
        top: calc(var(--border-width) * -1);
        left: auto;
        bottom: auto;
        right: calc(var(--border-width) * -1);
        width: var(--border-width);
        height: calc((var(--border-width) * 2) + 100%);
      }
      100% {
        top: auto;
        left: auto;
        bottom: calc(var(--border-width) * -1);
        right: calc(var(--border-width) * -1);
        width: calc(var(--border-width) + 50%);
        height: calc((var(--border-width) * 2) + 100%);
      }
    }
    @keyframes borderColors {
      0% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
      33% {
        border-top-color: var(--color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
      66% {
        border-top-color: var(--color);
        border-right-color: var(--color);
        border-bottom-color: transparent;
        border-left-color: var(--color);
      }
      100% {
        border-top-color: var(--color);
        border-right-color: var(--color);
        border-bottom-color: var(--color);
        border-left-color: var(--color);
      }
    }
    @keyframes background {
      to {
        background: #638f34;
        text-shadow: 0 0.1em 0.1em #111;
      }
    }
    @media (min-width: 850px) {
      body {
        justify-content: center;
      }
    }
    @media (min-width: 1200px) {
      .border-animation {
        font-size: 6em;
        line-height: 1em;
      }
    }
    
    /* 
    ------------------------footer
    */
    .foot-all{
      background-color:#78ae32;
      background-image:url('https://convertingcolors.com/plain-78AE32.svg');
      background-repeat:no-repeat;
      background-attachment:fixed;
      background-position:center;
      color: #fff;
      opacity: 8;
    }

    /* 
    ------------------------scroll top 
    */
     #back-to-top {
        position: fixed;
        bottom: 40px;
        right: 35px;
        z-index: 9999;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 30px;
        background: Transparent;
        color: #444;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        text-decoration: none;
        transition: opacity 0.2s ease-out;
        opacity: 0;
    }
    #back-to-top:hover {
      font-size: 25px;
    }
    #back-to-top.show {
      opacity: 1;
    } 



    /* // Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) {
      /* 
      Global all
      */
      .collapse{
        float: none;
      }
      /* 休閒農場介紹與新聞相關報導 */
      .center-vertical{
        float: none;
        position: relative;
        top: 50%;
      } 
      /* 
      products
      */
      .slider-active .owl-dots{
        position: relative;
        top: -75px;
      }
      .owl-nav button.owl-prev{
        opacity: 0;
      }
      .owl-nav button.owl-next{
        opacity: 0;
      }
    }

    /* // Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) {
      /* 
      Global all
      */
      section.page-section{
        padding: 0;
      }
      /* 
      navbar
       */
      .navbar-brand{
        display: none;
      }
      .collapse{
        float: none;
      }
      .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background-color: #638f34;
      }
      .navbar-toggle{
        margin: 10px;
        border:none;
        outline: none;
      }
      /* Start Nav Styles */
      .navbar-dot {
        right: 20px;
        }
      /* 
      about 
      */
      .news-img{
        top: 0;
      }
      /* about : product both */
      section.section_page{
        padding: 50% 0;
      }

      /* 休閒農場介紹  */
      .int-center-vertical{
        float: none;
        position: relative;
        /* top: 50%; */
        /* transform: translateY(0%); */
      }
      /* 新聞報導 */
      .news-center-vertical{
        float: none;
        position: relative;
        top: 50%;
        transform: translateY(0%);
      }
      /* news */
        .preface-news {
          padding-top: 0;
      }
      /* 課程 */
      .course-center-vertical{
        float: none;
        position: relative;
        top: 50%;
        transform: translateY(0%);
      }  
      /* 
      products
      */
      .slider-active .owl-dots{
        position: relative;
        top: -75px;
      }
      .owl-nav button.owl-prev{
        opacity: 0;
      }
      .owl-nav button.owl-next{
        opacity: 0;
      }
      /* 
      contact
      */
      .image-farm img{
        height: 150px; 
        width:100%;
        padding: 10px 0 0 0 ;
      }
      .contact-row{
        height: 100vh;
        position: relative;
        top: -50%;
      }
      .send-mailBag{
        width: 100%;
      }
      
    }

    /*  Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) {
      /* 
      Global all
      */
      /* 
      about
       */
      .news-img{
        top: 0;
      }
      .section.page-section{
        padding: 200px 0;
      }
      /* about : product both */
      section.section_page{
        padding: 50% 0;
      }
      .course-center-vertical{
        transform: translateY(2%);
      }
      /* 休閒農場介紹  */
      .int-center-vertical{
        transform: translateY(8%);
      }
    }

    /*  Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) {
      /* 
      Global all
      */
      /* about 、 product both */
      section.section_page{
        padding: 50% 0;
      }
      .contact-row{
        height: 100vh;
        top: 20%;
      }
      /* course */
      .course-center-vertical{
        transform: translateY(0%);
      }
    }








    /* products css navbar 效果 */
    /* .slider-active .owl-nav button{
      height: 60px;
      width: 60px;
    }
    .slider-active .owl-nav button i{
      font-size: 60px;
    }
    .slider-active .owl-dots{
      left: 0;
      right: 0;
      bottom: 15px;
      text-align: center;
    }
    .slider-active .owl-dot{
      margin: 0 2px;
      display: inline-block;
      border-radius: 50%;
      background: red ;
    }
    .owl-nav button.owl-prev{
      position: relative;
      left: -50%;
      top: -330px;
    }
    .owl-nav button.owl-next{
      position: relative;
      left: 50%;
      top: -330px;
    } */